<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.642</version>
  <numExecutors>5</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks>
    <jdk>
      <name>Java</name>
      <home>C:\Program Files\Java\jdk1.8.0_92</home>
      <properties/>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <hudson.plugins.ec2.EC2Cloud plugin="ec2@1.31">
      <name>ec2-MyAmazonEc2</name>
      <useInstanceProfileForCredentials>false</useInstanceProfileForCredentials>
      <accessId>AKIAIKLGNS2TIZQN6TRA</accessId>
      <secretKey>cVH5hgD65p27cl3AmvjWqtXH7Vwa2g+hdK27+nQG9R0D5B8YlbVVepencCX8eEIQgSxhFSyhVYJvLc4BuYjPkrCUGpj799JODIUA9xDwWIkqe6qZc1bCCnIJywNHThXwl1YzC0RHQvauV54myaPmhQ==</secretKey>
      <privateKey>
        <privateKey>5Oc/Ul7mq3p0PugAEdpjxTXHqjlLwPciPF0t4iE/d1re8sTTbcYecj8Ru7rgb7AageoRNtDvoQGsxPjw/LTaPmM6TPz1R0m7ctDRHch0It9nd8doFOzqOYFwpepgnN7lN0+oMXoVz4ZZUrJw13PrDGnEvUN1xpHb63t4pN3YCeOvyST6Q90YEZdXtOAYbY4V80iIPR2/movXIxq4SMumt7E8cOjrfNdd5iDjc85woWTnzT5LDQteMerDPkXRJ+PLW2P8rPghvQDBOwIDr1t0qn577WI5JGGTcoNDZkzivLuTsB6xP8vygNUHx6n4aTsGgQ70NxzWyJfyBw44TDg5iKPdxdM3ojCuOrubaXJnyEgudcSJh7kegLsvpNmv1WEzaw0m8M5rZ5oCMu//r/1xsP1yhplVaaw3dlw1gJkJT3kGP6QdGXqCzxC7imbeStuJNnEaDrFJN4U0hMxPX45hekkXzfEH9kKPD8nrLxr9WvEoEpeMS+3Hi1EENDEAv6jnZ+tmOx/iuMzHxggW7wcj0aqJ2vsGCCsJ0qU9Hj0rTlG68+HCfXPov09k9C0eP9pFJlvFstGgjHxg5GIPn79VCQl1lnA6nGnvegjACVh4nel4T8lKsVgvEqAjKtE8mGlZNstQgfWjoYuQO1SOUvp6SwfTYoA93yI18n2PjTVKvwCjmE1OiAc63x/CnNkNh3ab2OcB03do8hrEALCeFD9g+6DpFad2WSPKwUq2Yig9a1Jo3b3JCcUh573Mamda3TPSjx04w1mMLZNnAHOE6/O4TJqvUuTLi7SFxezXAXcw121CR9lyPM/E4p2wO0woRPOAWWJ195p0tvsPxrUDlNdprs8GgYMP9L7nK0mbaQhWq78=</privateKey>
      </privateKey>
      <instanceCap>2147483647</instanceCap>
      <templates>
        <hudson.plugins.ec2.SlaveTemplate>
          <ami>ami-3f03c55c</ami>
          <description>RedHat</description>
          <zone></zone>
          <securityGroups></securityGroups>
          <remoteFS></remoteFS>
          <type>T2Micro</type>
          <ebsOptimized>false</ebsOptimized>
          <labels></labels>
          <mode>NORMAL</mode>
          <initScript>mkdir /tmp/success</initScript>
          <tmpDir></tmpDir>
          <userData></userData>
          <numExecutors>1</numExecutors>
          <remoteAdmin></remoteAdmin>
          <jvmopts></jvmopts>
          <subnetId></subnetId>
          <idleTerminationMinutes>30</idleTerminationMinutes>
          <iamInstanceProfile></iamInstanceProfile>
          <useEphemeralDevices>false</useEphemeralDevices>
          <customDeviceMapping></customDeviceMapping>
          <instanceCap>2147483647</instanceCap>
          <stopOnTerminate>false</stopOnTerminate>
          <usePrivateDnsName>false</usePrivateDnsName>
          <associatePublicIp>false</associatePublicIp>
          <useDedicatedTenancy>false</useDedicatedTenancy>
          <amiType class="hudson.plugins.ec2.UnixData">
            <rootCommandPrefix></rootCommandPrefix>
            <sshPort>22</sshPort>
          </amiType>
          <launchTimeout>2147483647</launchTimeout>
          <connectBySSHProcess>false</connectBySSHProcess>
          <connectUsingPublicIp>false</connectUsingPublicIp>
        </hudson.plugins.ec2.SlaveTemplate>
      </templates>
      <region>ap-southeast-1</region>
    </hudson.plugins.ec2.EC2Cloud>
  </clouds>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>