<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SitePair</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>FIRMID</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ENVIRONMENT</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.groovy.SystemGroovy plugin="groovy@1.29">
      <scriptSource class="hudson.plugins.groovy.StringScriptSource">
        <command>import hudson.model.*
import groovy.sql.Sql

//Accessing the site pair active choice parameter

def sitelist = build.buildVariableResolver.resolve(&quot;SitePair&quot;)
def FirmID = build.buildVariableResolver.resolve(&quot;FIRMID&quot;)
def Env = build.buildVariableResolver.resolve(&quot;ENVIRONMENT&quot;)
println &quot;$FirmID&quot;
println &quot;$Env&quot;
println &quot;$sitelist&quot;

//Declaring lists to store different information for a site
List IPs = new ArrayList()
List sysname = new ArrayList()
List hatype = new ArrayList()
List component = new ArrayList()
List storefront = new ArrayList()

//splitting the site pair and getting the storefront and delivery controllers information for the site1 and feed to arrays
def (site1, site2) = &quot;${sitelist}&quot;.tokenize(&apos;-&apos;)
def sql = Sql.newInstance(&quot;jdbc:mysql://localhost:3306/siteinformation&quot;, &quot;root&quot;, &quot;Advent2016!&quot;, &quot;com.mysql.jdbc.Driver&quot;)
def query1 = &quot;select ComponentType, IPAddress, HostName, SiteName, HAType from sfdcinformation where SiteName like &quot;+&quot;&apos;${site1}&apos;&quot;+&quot;;&quot;

sql.eachRow (query1)
{
  component &lt;&lt; it.ComponentType
  IPs &lt;&lt; it.IPAddress
  sysname &lt;&lt; it.HostName
  hatype &lt;&lt; it.HAType
}

def size = component.size()

for (int j=0; j&lt;size; j++)
{
  println component[j]
  println IPs[j]
  println sysname[j]
  println hatype[j]  
}

//Defining variables to store the hostnames information for store fronts and delivery controllers of both sites
def Site1SFServer1
def Site1SFServer2
def Site2SFServer1
def Site2SFServer2
def Site1DCServer1
def Site1DCServer2
def Site2DCServer1
def Site2DCServer2
def site1citrix
def site2citrix

//Determine the primary and secondary store fronts and delivery controllers from site1
for (int i=0; i&lt;size; i++)
{
  if(hatype[i].equalsIgnoreCase(&quot;Primary&quot;))
  {
    if(component[i].equalsIgnoreCase(&quot;SF-01&quot;))
    {
      Site1SFServer1 = sysname[i]
    }
    else if(component[i].equalsIgnoreCase(&quot;DC-01&quot;))
    {
      Site1DCServer1 = sysname[i]
    }    
  }
  else if(hatype[i].equalsIgnoreCase(&quot;Secondary&quot;))
  {
     if(component[i].equalsIgnoreCase(&quot;SF-02&quot;))
    {
      Site1SFServer2 = sysname[i]
    }
    else if(component[i].equalsIgnoreCase(&quot;DC-02&quot;))
    {
      Site1DCServer2 = sysname[i]
    }    
  }
}

//Get the storefront and delivery controllers information for the site2 and feed to arrays
def query2 = &quot;select ComponentType, IPAddress, HostName, SiteName, HAType from sfdcinformation where SiteName like &quot;+&quot;&apos;${site2}&apos;&quot;+&quot;;&quot;
sql.eachRow (query2)
{
  component &lt;&lt; it.ComponentType
  IPs &lt;&lt; it.IPAddress
  sysname &lt;&lt; it.HostName
  hatype &lt;&lt; it.HAType
}

//Determine the primary and secondary store fronts and delivery controllers from site2
def size1 = component.size()

for (int j=size; j&lt;size1; j++)
{
  println component[j]
  println IPs[j]
  println sysname[j]
  println hatype[j]  
}
for (int i=size; i&lt;size1; i++)
{
  if(hatype[i].equalsIgnoreCase(&quot;Primary&quot;))
  {
    if(component[i].equalsIgnoreCase(&quot;SF-01&quot;))
    {
      Site2SFServer1 = sysname[i]
    }
    else if(component[i].equalsIgnoreCase(&quot;DC-01&quot;))
    {
      Site2DCServer1 = sysname[i]
    }    
  }
  else if(hatype[i].equalsIgnoreCase(&quot;Secondary&quot;))
  {
     if(component[i].equalsIgnoreCase(&quot;SF-02&quot;))
    {
      Site2SFServer2 = sysname[i]
    }
    else if(component[i].equalsIgnoreCase(&quot;DC-02&quot;))
    {
      Site2DCServer2 = sysname[i]
    }    
  }
}

def query3 = &quot;select Site1CitrixName, Site2CitrixName from sitepair where SitePairName = &quot;+&quot;&apos;${sitelist}&apos;&quot;+&quot;;&quot;
sql.eachRow (query3)
{
  site1citrix = it.Site1CitrixName
  site2citrix = it.Site2CitrixName
}

println &quot;creating env.properties file&quot;
//Creating and writing values to the environmental file created in the workspace folder of the job

def file1 = new File(&apos;C:/Users/nagaraj.nookala/.jenkins/jobs/SiteInformation/workspace/env.properties&apos;)
file1.write(&quot;site1sf1 =  $Site1SFServer1\r\n&quot;)
file1.append(&quot;site1sf2 = $Site1SFServer2\r\n&quot;)
file1.append(&quot;site2sf1 = $Site2SFServer1\r\n&quot;)
file1.append(&quot;site2sf2 = $Site2SFServer2\r\n&quot;)
file1.append(&quot;site1dc1 = $Site1DCServer1\r\n&quot;)
file1.append(&quot;site1dc2 = $Site1DCServer2\r\n&quot;)
file1.append(&quot;site2dc1 = $Site2DCServer1\r\n&quot;)
file1.append(&quot;site2dc2 = $Site2DCServer2\r\n&quot;)
file1.append(&quot;Site1CitrixSiteName = $site1citrix\r\n&quot;)
file1.append(&quot;Site2CitrixSiteName = $site2citrix\r\n&quot;)
file1.append(&quot;FirmID = $FirmID\r\n&quot;)
file1.append(&quot;Env = $Env&quot;)
</command>
      </scriptSource>
      <bindings></bindings>
      <classpath></classpath>
    </hudson.plugins.groovy.SystemGroovy>
    <EnvInjectBuilder plugin="envinject@1.92.1">
      <info>
        <propertiesFilePath>C:/Users/nagaraj.nookala/.jenkins/jobs/SiteInformation/workspace/env.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>