<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.groovy.Groovy plugin="groovy@1.29">
      <scriptSource class="hudson.plugins.groovy.StringScriptSource">
        <command>import groovy.sql.Sql

List deliverycontroller = new ArrayList()
List storefront = new ArrayList()

SitePair = &quot;YKT-HRS&quot;
def (site1, site2) = &quot;${SitePair}&quot;.tokenize(&apos;-&apos;)
def sql = Sql.newInstance(&quot;jdbc:mysql://localhost:3306/siteinformation&quot;, &quot;root&quot;, &quot;Advent2016!&quot;, &quot;com.mysql.jdbc.Driver&quot;)
def query1 = &quot;select ComponentType, IPAddress, SiteName from sfdcinformation where ComponentType like &apos;DC%&apos; and (SiteName like &quot;+&quot;&apos;${site1}&apos;&quot;+&quot; or SiteName like &quot;+&quot;&apos;${site2}&apos;&quot;+&quot;);&quot;

sql.eachRow (query1)
{
deliverycontroller &lt;&lt; it.IPAddress
}


def query2 = &quot;select ComponentType, IPAddress, SiteName from sfdcinformation where ComponentType like &apos;SF%&apos; and (SiteName like &quot;+&quot;&apos;${site1}&apos;&quot;+&quot; or SiteName like &quot;+&quot;&apos;${site2}&apos;&quot;+&quot;);&quot;
sql.eachRow (query2)
{
storefront &lt;&lt; it.IPAddress
}


def csize = deliverycontroller.size()
def ssize = storefront.size()
for (int i=0; i&lt;csize; i++)
{
  println deliverycontroller[i]
}

for (int j=0; j&lt;ssize; j++)
{
  println storefront[j]
}

</command>
      </scriptSource>
      <groovyName>Groovy</groovyName>
      <parameters></parameters>
      <scriptParameters></scriptParameters>
      <properties></properties>
      <javaOpts></javaOpts>
      <classPath></classPath>
    </hudson.plugins.groovy.Groovy>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>